/* styles.css */

/* Additional styles for the top section/navigation */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black; /* Change background color to black */
    padding: 0px; /* Increase padding to make the navigation bar larger */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    animation: fadeInNav 1s ease-in forwards;
    z-index: 1;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */

}

#header a:hover {
    background-color: aquamarine;
    #color: darkcyan; /* Change the text color on hover */
    transition: background-color 0.3s ease-in-out; /* Apply a transition effect */
}

#header a:active {
    background-color: red;
    #color: green; /* Change the text color on hover */
    transition: background-color 0.3s ease-in-out; /* Apply a transition effect */
}

@keyframes fadeInNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header h1 {
    margin: center;
    font-family: "Century Gothic", Arial, sans-serif;
    margin-right: 20px;
}

#header ul {
    visibility: visible;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#header li {
    margin-right: 10px;
}

#header li:last-child {
    margin-right: 0;
}

#header a {
    text-decoration: none;
    text-transform: lowercase;
    color: gray;
    font-family: "Century Gothic", Arial, sans-serif;
    font-weight: 600;
    transition: font-weight 0.3s ease-in-out;
}



#header a:hover {
    text-transform: lowercase;
    color: darkcyan
    transition: color 0.3s ease-in-out; /* Apply a transition effect */
}

#header a.selected {
    text-transform: lowercase;
    color: darkcyan;
    font-weight: 600;
    transition: color 0.3.s ease-in-out;;
}

/* Update background to white */
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Add some basic styles for the sections */
section {
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    animation: fadeInSection 1s ease-in forwards;
    height: 800px; /* Set the height to 800 pixels */
    background-color: white; /* Change background color to white */
}

section#about {
    margin-top: 80px; /* Add margin above the about section */
}

@keyframes fadeInSection {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section h2 {
    margin-top: 20px;
    font-family: "Century Gothic", Arial, sans-serif;
    margin-bottom: 20px;
    color: black; /* Change text color to black */
}

section p {
    margin-bottom: 0;
    font-family: "Century Gothic", Arial, sans-serif;
    margin-bottom: 20px;
    color: black; /* Change text color to black */
}

section:not(:first-of-type) {
    margin-top: 60px;
}

/* Styles for the footer */
footer {
    background-color: darkcyan;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: "Century Gothic", Arial, sans-serif;
}

footer p {
    margin-top: 10px;
}

/* Styles for the footer links */
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li {
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

/* Styles for the side navigation bar */
.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;  /* Added to center the text */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 8px 0;  /* Adjusted to align the text vertically */
}

.sidenav a .nav-long {
    display: none;  /* Hidden by default */
}

.sidenav a:hover {
    background-color: darkcyan;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */

}

.sidenav:hover {
    width: 300px;
    background-color: darkcyan;
    transition: 0.3s;

}

.sidenav:hover a .nav-long {
    display: inline;  /* Displayed when the side nav is expanded */
    background-color: cyan;

}


.search-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;

}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

/* Add styles for the login/registration form */
.login-container form input[type="email"],
.login-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: px;
    background-color: white;
}

.login-container form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
    cursor: pointer;
}

.login-container form button:hover {
    background-color: darkgray;
}


/* Styles for the new right sidenav */
#pronav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; /* Align the sidenav to the right */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

#pronav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 8px 0;
}

#pronav a .nav-long {
    display: none;
}

#pronav a:hover {
    color: #f1f1f1;
}

#pronav:hover {
    width: 300px;
    right: 0; /* Ensure the sidenav expands towards the left */
}

#pronav:hover a .nav-long {
    display: inline;
}

.slide-left {
    transition: transform 0.5s ease;
}

``
